
form(action='#{uploadLink}' method='post' enctype="multipart/form-data")
  h1 Upload Dish!
  span dish name
  input(type='text' name='name' required)
  br
  span restaurant - autocomplete field, type in first few characters of name and wait to see if restaurant exists
  br
  input#restaurant_text(type='text' name='restaurant' required)
  br
  span price
  input(type='text' name='price' required)
  br
  input(type="file" name='file' required)
  br
  input(type='submit' value='Upload!')

link(rel="stylesheet" href="//code.jquery.com/ui/1.11.1/themes/smoothness/jquery-ui.css")
script(src='http://code.jquery.com/jquery-latest.min.js')
script(src='http://ajax.googleapis.com/ajax/libs/jqueryui/1.11.1/jquery-ui.min.js')
script(type='text/javascript').
  $(function() {
    var arrStr = "#{restaurants}";
    var loaded_restaurants = arrStr.split(',');

    $("#restaurant_text").autocomplete({
      source: loaded_restaurants
    });
  });
