html
div#imgzone
  ul#imglist

link(rel="stylesheet" href="//code.jquery.com/ui/1.11.1/themes/smoothness/jquery-ui.css")
script(src='http://code.jquery.com/jquery-latest.min.js')
script(src='http://ajax.googleapis.com/ajax/libs/jqueryui/1.11.1/jquery-ui.min.js')
script(type='text/javascript').
  var dish_data_str = '#{dish_data_str}'
  var replaceAll = function(find, replace, str) {
    return str.replace(new RegExp(find, 'g'), replace);
  }
  dish_data_str = replaceAll('&quot;', '"', dish_data_str);
  var dish_data = JSON.parse(dish_data_str);
  for(var dish_id in dish_data){
    $('#imglist').append('<li><div class="dish_img_container"><img class="dish_img" src="' + dish_data[dish_id] + '" id="' + dish_id + '"/></div></li>');
  }
  var base_url = window.location.protocol+"//"+window.location.host;
  var delete_url = base_url + '/admin/manage_dishes/delete'
  $('.dish_img_container').click(function(){
     if(confirm('delete?')) {
          var dish_id = $($(this).children('img')[0]).attr('id');

         //hit api
         $.ajax({
            type : "POST",
            url : delete_url,
            data : {
              'dish_id' : dish_id
            }
          });

         $(this).parent().remove();
     }
    });

style.
  .dish_img {
    height : 568px;
    margin-left : -50px;
  }
  .dish_img_container {
    height: 600px;
    width: 320px;
    overflow: scroll;
  }